:root {
    --color-accent: #7ea25a;
    --color-accent-light: #8cb464;
    --color-accent-dark: #709050;

    --color-secondary: #fff;
    --color-secondary-light: rgba(255, 255, 255, 0.87);;
    --color-secondary-dark: #aaa;

    --color-primary-light: #666;
    --color-primary: #242424;
    --color-primary-dark: #1a1a1a;

    --page-margin: 0 15%;
}

img.logo {
    height: 120px;
}

ul.list {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4px;
    margin: 0;
    padding: 4px 8px;
    align-items: center;
}

div.container {
    display: flex;
    padding: 0;
    margin: 0;

    ul.list {
        flex-direction: row;

        li:nth-child(2)::before {
            content: '|';
            margin-right: 4px;
        }

        li:nth-child(3) {
            margin-left: 8px;
        }
    }
}

header {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: var(--color-primary-dark);

    img.logo {
        display: none;
    }

    img.logo:hover {
        cursor: pointer;
    }

    div.search-container {
        position: relative;
        min-width: 40%;
        width: max-content;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 8px 16px;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: var(--color-primary);
        transition: border-color 0.25s;

        form#search {
            display: flex;
            width: 100%;

            input.text-search {
                border: none;
                outline: none;
                background: none;
                width: 100%;
                z-index: 1;
            }

            input::placeholder {
                color: var(--color-primary-light);
            }

            button.btn-search, button.btn-clear {
                width: min-content;
                padding: 4px;
                background-color: transparent;
                z-index: 10;
            }
        }

        div.query-results {
            position: absolute;
            flex-flow: column;
            width: calc(100% + 2px);
            max-height: 50vh;
            margin-top: 12px;
            left: 0;
            margin-left: -1px;
            padding: 8px 8px 0 8px;
            background-color: var(--color-primary-dark);
            border-radius: 8px;
            z-index: 10;
            border-top: 0;
            overflow-y: scroll;
            transition: border-color 0.25s;
        }

        div.query-results p:hover {
            color: var(--color-accent);
            cursor: pointer;
        }
    }

    div.search-container:hover {
        border-color: var(--color-accent);
    }

    div.search-container:has(:focus-within) {
        border-color: var(--color-accent);
    }

    div.config {
        display: flex;
        position: relative;

        div.btn-cart {
            cursor: pointer;
            margin-right: 8px;
            font-size: xx-large;
            outline: none;

            .cart-icon {
                width: 24px;
                height: 24px;
            }
        }

        div.btn-user {
            cursor: pointer;

            .user-icon {
                width: 24px;
                height: 24px;
            }
        }

        .btn-cart:hover, .btn-user:hover {
            .cart-icon path, .user-icon path{
                stroke: var(--color-accent-dark);
            }
        }

        div.btn-user::before {
            content: '|';
            font-size: xx-large;
            margin-right: 4px;
        }

        div.user-actions {
            position: absolute;
            right: 0;
            margin-top: 48px;
            border-top: 0;
            border-radius: 8px;
            z-index: 9;
            background-color: var(--color-primary-dark);
        }
    }

    button {
        border: none;
        outline: none;
        background: none;
    }

    button:hover {
        color: var(--color-accent-dark);
    }
}

footer {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: var(--color-primary-dark);

    div {
        padding: 0 8px;
        text-wrap: balance;
        text-align: center;

        ul {
            text-align: center;
            list-style: none;
            padding-left: 0;
        }
    }

    div.copyright {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    div:not(:first-child) {
        flex: 1;
    }
}

main {
    h2.data-missing {
        height: calc(100vh - 548px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(306px, auto));
        place-items: center;
        padding: 8px;

        div.shimmer-card {
            display: flex;
            flex-direction: column;
            transform: scale(0.8);
            animation: pulse 2s infinite, appear linear;
            animation-timeline: auto, view();
            animation-range: entry 0%;

            div.shimmer-restaurant-data {
                margin-right: 12px;
                margin-top: 8px;

                p.shimmer-restaurant-name {
                    height: 24px;
                    border-radius: 4px;
                    background-color: #eee;
                }

                p.shimmer-meta {
                    height: 24px;
                    width: 70%;
                    border-radius: 4px;
                    background-color: #eee;
                }

                p.shimmer-cuisines {
                    height: 20px;
                    border-radius: 4px;
                    background-color: #eee;
                }

                p.shimmer-restaurant-area {
                    height: 20px;
                    width:40%;
                    border-radius:4px;
                    background-color:#eee;
                }
            }
        }

        div.card-scroll {
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0%;
        }

        div.card {
            width: min-content;
            height: min-content;
            transform: scale(0.8);
            transition: transform 0.25s ease-in-out;

            div.restaurant-img {
                position: relative;

                img {
                    display: block;
                    object-fit: cover;
                    width: 360px;
                    height: 240px;
                    border-radius: 16px;
                }

                h2 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 8px;
                    margin: 0;
                    text-transform: uppercase;
                }
            }

            div.restaurant-data {
                margin-left: 12px;

                div.main-text {
                    height: auto;
                    font-weight: bold;

                    p {
                        margin: 0;

                        span.meta-text {
                            text-transform: lowercase;
                        }
                    }
                }

                div.sub-text {
                    display: grid;
                    margin-top: 2px;
                    height: auto;
                    font-weight: 200;
                    text-transform: capitalize;
                    text-wrap: auto;

                    p {
                        color: var(--color-secondary-dark);
                        margin: 0;
                    }
                }
            }
        }

        div.card:hover {
            cursor: pointer;
            transform: scale(0.76);
            filter: drop-shadow(0 0 8px var(--color-accent));
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.76);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(0.8);
    }
}

@media only screen and (min-width: 768px) {
    div.container {
        margin: var(--page-margin);
    }

    header {
        padding: var(--page-margin);

        img.logo {
            display: inline;
        }

        div.search-container {
            div.query-results {
                padding: 24px 16px 0 16px;
            }
        }
    }

    main {
        padding: var(--page-margin);
    }

    footer {
        padding: 0 25%;
        justify-content: space-between;
        gap: 8px;
    }
}

@media only screen and (min-width: 1600px) {
    main {
        div.grid-container {
            grid-template-columns: repeat(auto-fill, minmax(376px, auto));
            place-items: center;
            padding: 8px;
            grid-row-gap: 16px;
        }

        div.shimmer-card {
            transform: scale(1);
            animation:pulse 2s infinite;
        }

        div.card {
            width: min-content;
            height: min-content;
            transform: scale(1);
            transition: transform 0.25s ease-in-out;
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0%;
        }

        div.card:hover {
            cursor: pointer;
            transform: scale(0.96);
            filter: drop-shadow(0 0 8px var(--color-accent));
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(0.96);
            }
            100% {
                transform: scale(1);
            }
        }

        @keyframes appear {
            from {
                opacity: 0;
                scale: 0.5;
            }
            to {
                opacity: 1;
                scale: 0.8;
            }
        }
    }
}